  <div class="panel-body">

    <%= bootstrap_form_for(issue, html: { role: 'form' }) do |f| %>
      <% if issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
          <% issue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.text_field :name, class: 'form-control' %>

        <%= f.text_area :description, class: 'form-control', size: "30x10" %>

        <%= f.collection_select :tracker_id, Tracker.all, :id, :name %>

        <%= f.collection_select :status_id, Status.all, :id, :name, class: 'form-control' %>

        <%= f.collection_select :priority_id, Priority.all, :id, :name, class: 'form-control' %>

        <% if @issue.new_record? %>
          <%= f.collection_select :assignee_id, User.all.order("last_name ASC"), :id, :fullname, :selected => current_user.id, class: 'form-control' %>
        <% else %>
          <%= f.collection_select :assignee_id, User.all.order("last_name ASC"), :id, :fullname, class: 'form-control' %>
        <% end %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
