<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Tracker</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Name</th>
      <th>Assignee</th>
      <th>Created By</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td class="vert-align"><%= Tracker.find(issue.tracker_id).name %></td>
        <td class="vert-align"><%= Status.find(issue.status_id).name %></td>
        <td class="vert-align"><%= Priority.find(issue.priority_id).name %></td>
        <td class="vert-align"><%= issue.name %></td>
        <td class="vert-align"><%= User.find(issue.assignee_id).fullname %></td>
        <td class="vert-align"><%= User.find(issue.created_by).fullname %></td>
        <td class="vert-align"><%= issue.last_updated %></td>
        <td class="vert-align"><a href="<%= issue_path(issue) %>" class="btn btn-default btn-sm">Show</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
