<p id="notice"><%= notice %></p>

<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', default: @issue.name) %></h4>
  </div>
  <div class="panel-body">

<p>
<div class="row">
  <div class="col-sm-4">
    <strong>Tracker:</strong>
    <%= Tracker.find(@issue.tracker_id).name %>  
  </div>
  <div class="col-sm-4">
    <strong>Priority:</strong>
    <%= Priority.find(@issue.priority_id).name %>
  </div>
  <div class="col-sm-4">
    <strong>Date created:</strong>
    <%= @issue.created_at.strftime('%d %B %Y %H:%M') %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <strong>Status:</strong>
    <%= Status.find(@issue.status_id).name %>
  </div>
  <div class="col-sm-4">
    <strong>Assignee:</strong>
    <%= User.find(@issue.assignee_id).fullname %>
  </div>
  <div class="col-sm-4">
    <strong>Created By:</strong>
    <%= User.find(@issue.created_by).fullname %>
  </div>
</div>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
<div class="row">
  <div class="col-sm-8">
    <div class="btn-group" role="group" aria-label="...">
      <a href="<%= edit_issue_path(@issue) %>" class="btn btn-default">Edit</a>
      <a href="<%= issues_path %>" class="btn btn-default">Back</a>
    </div>
    <% if can? :destroy, @issue %>
      <td><%= link_to 'Remove', @issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
  <div class="col-sm-4">
    <strong>Last updated</strong>
    <%= time_ago_in_words(@issue.last_updated) %> ago
  </div>
</p>

<br/><br/><br/>

<%= render_activities(@activities) %>

<br/><br/>

<div style="padding: 20px">
<%= bootstrap_form_for(@comment) do |f| %>
  <%= f.text_area :message %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :issue_id, :value => @issue.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

</div>
</div>