<% if activity.trackable %>
    <li class="list-group-item">
      <div class="activity-pin">
        <div class="info">
          <h4><%= activity.owner.fullname %>
          updated <%= time_ago_in_words(activity.created_at) %> ago:</h4>
          <ul>
              <% if activity.parameters.key?(:name) %>
                <li>name to <strong><%= activity.parameters[:name] %></strong></li>
              <% end %>
              <% if activity.parameters.key?(:description) %>
                <li>description</li>
              <% end %>
              <% if activity.parameters.key?(:tracker_id) %>
                <li>tracker to <strong><%= Tracker.find(activity.parameters[:tracker_id]).name %></strong></li>
              <% end %>
              <% if activity.parameters.key?(:status_id) %>
                <li>status to <strong><%= Status.find(activity.parameters[:status_id]).name %></strong></li>
              <% end %>
              <% if activity.parameters.key?(:priority_id) %>
                <li>priority to <strong><%= Priority.find(activity.parameters[:priority_id]).name %></strong></li>
              <% end %>
              <% if activity.parameters.key?(:assignee_id) %>
                <li>assignee to <strong><%= User.find(activity.parameters[:assignee_id]).fullname %></strong></li>
              <% end %>
          </ul>
        </div>
      </div>
    </li>
<% end %>
